/* roboto-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('assets/font/roboto-v47-latin/roboto-v47-latin-300.woff2') format('woff2'); 
  }
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/font/roboto-v47-latin/roboto-v47-latin-regular.woff2') format('woff2'); 
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/font/roboto-v47-latin/roboto-v47-latin-500.woff2') format('woff2'); 
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('assets/font/roboto-v47-latin/roboto-v47-latin-700.woff2') format('woff2'); 
  }
  /* roboto-800 - latin */
  @font-face {
    font-display: swap;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('assets/font/roboto-v47-latin/roboto-v47-latin-800.woff2') format('woff2'); 
  }


 html {
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto",sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
    
}
::-webkit-scrollbar-track {
    background: #ffffff;
   
}

::-webkit-scrollbar-thumb {
    background: #dd0902;
    border-radius: 1px;
}

  
.banner-bg {
    background: url('/assets/bg4.webp') center/cover no-repeat;
}

.testimonial-swiper .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
.testimonial-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    min-height: 350px; 
    height: 100%;
}
  .blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.blurred {
    filter: blur(1px);
    opacity: 5.5;
    position: absolute;
}

/* Animations */
@keyframes bounceUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes bounceLeftRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15px);
    }
}


@keyframes bounce-custom {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes bounce-custom {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-bounce-custom {
    animation: bounce-custom 1.5s infinite ease-in-out;
}

@keyframes spin-custom {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.menu-item1 {
    position: relative;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #252525;
    border: 4px solid transparent;
    padding: 5px 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}


.menu-item1:hover {
    color: #D10000;
}

.menu-item1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: #D10000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
}

.menu-item1:hover::after {
    transform: scaleX(1);
}

.marquee-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee {
    display: flex;
    animation: marquee 30s linear infinite;
}

.marquee span {
    padding-right: 1rem; /* Adjust spacing between words */
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.menu-item {
    position: relative;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #a9a9a9;
    border: 4px solid transparent;
    padding: 5px 5px;
    transition: color 0.3s ease-in-out;
}


.menu-item:hover {
    color: #D10000;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: #D10000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
}

.menu-item:hover::after {
    transform: scaleX(1);
}

.animate-spin-custom {
    animation: spin-custom 20s linear infinite;
}

.animate-bounce-custom {
    animation: bounce-custom 1.5s infinite ease-in-out;
}

.onion-center {
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 150px;
    animation: bounceUpDown 2s infinite;
}

.leaf-top-left {
    top: 20px;
    left: 20px;
    width: 100px;
    animation: bounceLeftRight 3s infinite;
}

.leaf-top-right {
    top: 50px;
    right: 100px;
    width: 100px;
    animation: bounceLeftRight 3s infinite;
}

.chili-bottom-left {
    bottom: 20px;
    left: 20px;
    width: 100px;
    animation: bounceLeftRight 3s infinite;
}

.chili-bottom-right {
    bottom: 40px;
    right: 40px;
    width: 100px;
    animation: bounceLeftRight 3s infinite;
    rotate: -45deg;
}


.banner-img {
    width: 100vw;

    max-height: 100vh;

    object-fit: cover;
    position: absolute;
    top: 10%;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.relative:hover .absolute .opacity-0 {
    opacity: 100;
}